*{
    /* border: 1px solid green; */
    list-style: none;
    /* font-size: 25px; */
    margin: 0;
}

.top_nav{
    background-color: rgb(40, 56, 146);
    /* overflow: hidden; */
    width: 64%;
    padding-left: 300px;
    height: 50px;
}

.top_nav a{
    /* float: left; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* width: 60%; */
}

.top_nav a:hover{
    background-color: rgb(66, 72, 160);
    /* columns: white; */
}

.top_nav a.active{
    /* background-attachment: rgb(63, 73, 209); */
    color: white;
}

a{
    /* color: blue; */
}

body{
    width: 80%;
    
}

#header{
   width: 80%;
}

#header_logo{
    width: 60%;
    display: inline-block;
    padding-left: 5%;
}

.header_pic{
    width: 150px;
    padding-left: 200px;
}

#header_nav{
    display: inline-block;
    width: 30%;
    font-size: 20px;
    padding-bottom: 20px;
    vertical-align: top;
}

#nav_bar{
    width: 90%;
    height: 60px;
    font-size: 25px;
    /* padding-left: 5%; */
    text-align: center;
    background-color: rgb(28, 95, 184);
    color: white;
}

#container{
    width: 80%;
    padding-top: 1%;
}

#container_left{
    width: 20%;
    display: inline-block;
    padding-left: 20%;
    vertical-align: top;
    
}

#first_left{
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding-bottom: 10%;
}

.pad{
    /* padding-bottom: 5%; */
    text-align: left;
}

#second_left{
    background-color: rgb(238, 238, 238);
}

.align_right{
    text-align: right;
}

#news_align{
    display: inline-block;
    width: 80%;
}

#more_align{
    display: inline-block;
    /* text-align: right; */
    /* vertical-align: top; */
}

#third_left{
    text-align: center;
    padding-top: 10%;
}

#container_right{
    width: 45%;
    /* vertical-align: top; */
    display: inline-block;
    padding-right: 1%;
    padding-left: 3%;

}

#first_right{
   
}

.bold_padding{
    font-weight: bold;
    padding-top: 2%;
}

.bold_center{
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
}

.sign_up{
    
    /* padding-left: 10%; */
    
}

#second_right{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(229, 229, 147);
    border: 1% solid yellow;
    text-align: center;
}

#third_right{
    background-color: rgb(238, 235, 235);
    font-size: 20px;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

#fourth_right{
    width: 100%;
}

#fourth_right_one{
    width: 2%;
    display: inline-block;
    vertical-align: top;
    padding-left: 1%;
}

#fourth_right_two{
    width: 80%;
    display: inline-block;
    padding-left: 75px;
}

#fourth_right_three{
    width: 2%;
    display: inline-block;
    vertical-align: top;
    padding-left: 1%;
}

#fourth_right_four{
    width: 80%;
    display: inline-block;
    padding-left: 75px;
    /* padding-right: 5%; */
}

#footer{
    text-align: center;
    width: 80%;
}

#footer_one{
    padding-top: 50px;
}

#footer_two{

}

#footer_three{
    width: 80%;
    padding-top: 3%;
    
}

#first_image{
    display: inline-block;
    width: 20%;
    padding-left: 20%;
}

#second_image{
    display: inline-block;
    width: 20%;
    padding-left: 2%;

}

#third_image{
    display: inline-block;
    width: 20%;
    padding-left: 2%;

}

